.savedButton {
  background: none;
  height: auto;
  width: 20px;
  border: none;
  color: white;
  cursor: pointer;

  &:active {
    scale: 1.5;
  }
}

.savedRecipe {
  color: red;
  height: auto;
  width: 20px;
}

.unsavedButton {
  color: white;
  height: auto;
  width: 20px;
}

button {
  background: none;
  border: none;
}
