.savedButton {
  display: flex;
  background: none;
  height: auto;
  width: 20px;
  border: none;
  color: white;
  cursor: pointer;

  &:active {
    scale: 1.5;
  }
}

.savedRecipe {
  color: red;
  height: auto;
  width: 20px;
  cursor: pointer;
}

.unsavedButton {
  color: white;
  height: auto;
  width: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.black {
  color: black;
}
