.button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  background: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  background: black;

  &:hover {
    transition: all 0.3s ease-in-out;
    background: white;
    color: black;
  }

  svg {
    color: orange;
  }
}
