.tile {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 70%;
  border: 2px solid black;
  min-height: 250px;

  @media (max-width: 800px) {
    flex-direction: column;

    img {
      min-width: 100%;
      max-height: 400px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  img {
    object-fit: none;
    max-width: 40%;
  }

  p {
    font-size: 16px;
  }
}

.tile:hover {
  transition: box-shadow 0.3s;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.363);

  h2 {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: orange;
  }
}
