.section {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px;
    flex-wrap: wrap;

    @media (max-width: 1100px) {
      padding: 80px 50px 0 50px;
    }
  }

  span {
    cursor: pointer;
    align-self: center;
    display: flex;
    height: fit-content;
    max-width: 400px;
    width: 100%;
    justify-content: center;
  }

  ul {
    max-width: 80%;
    width: 100%;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 0 20px;
    gap: 30px;

    li {
      list-style: circle;
      max-width: 200px;
      width: 100%;
      height: max-content;
    }
  }

  p {
    text-align: start;
    margin: 0;
    font-family: "Tilt Prism", cursive;
    font-size: 120px;
    min-width: 200px;
    height: 100%;
  }

  h4 {
    font-size: 30px;
  }

  img {
    object-fit: cover;
    width: 300px;
    height: 300px;
  }

  a {
    align-self: flex-end;
    padding: 10px;

    @media (max-width: 1100px) {
      align-self: center;
      margin-top: 40px;
    }

    &:hover {
      color: orange;
      svg {
        transform: translateX(0%);
        transition: all 0.3s ease-in-out;
        opacity: 100;
      }
    }

    svg {
      transform: translateX(-100%);
      transition: all 0.3s ease-in-out;
      opacity: 0;
    }
  }

  ul.active {
    transition: max-height 0.3s ease-in-out;
    max-height: 400px;
  }
}

.arrow {
  align-self: center;
  padding: 10px;
  font-size: 30px;
}
