.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
  padding-bottom: 40px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    padding: 10px;
  }

  a {
    color: black;
    text-decoration: underline;
    text-decoration-color: orange;
    padding-bottom: 20px;

    &:hover {
      color: rgb(121, 116, 116);
    }
  }

  p {
    font-size: 14px;
    margin: 30px 0 0;
  }

  span {
    text-align: center;
  }
}
