.section {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  gap: 50px;
  text-align: center;
  padding: 50px 0 100px 0;
  margin: 0 20px;

  @media (max-width: 1200px) {
    max-width: 80vw;
  }

  h2 {
    text-align: center;
    font-size: 35px;
    margin: 0;
  }

  h3 {
    text-align: left;
  }

  p {
    font-size: 20px;
    max-width: 100%;
  }

  ol {
    text-align: left;
    padding-inline-start: 0px;
    margin: 0;

    li {
      padding: 10px 0;
    }
  }

  ul {
    text-align: left;
  }

  button {
    display: flex;
    cursor: pointer;
    margin: 50px auto 0;
    font-family: "Tilt Prism", cursive;
    font-size: 30px;
    width: fit-content;
    transition: all 0.3s ease-in-out;
    gap: 10px;

    &:hover {
      color: orange;
      transition: all 0.3s ease-in-out;
    }
  }

  .topContainer {
    span {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 28px;
        transform: translateY(-5%);

        @media print {
          display: none;
        }
      }

      button {
        padding: 10px 5px;
        margin: 0;

        svg {
          width: 25px;
        }
      }
    }
  }
  @media print {
    padding: 0px 0 50px 0;
    gap: 10px;

    button {
      display: none;
    }

    li {
      break-inside: avoid;
    }

    ul {
      gap: 10px;
    }
  }
}
